/* 
Theme Name: Zigcy Lite Child 
Theme URL: https://wordpress.org/themes/zigcy-lite/
Description: Zigcy Lite Child 
Theme Author: Sean Goodlip
Author URL: ict.mcast.edu.mt
Template: zigcy-lite
Version: 1.0.0 
Text Domain: zigcy-lite-child
*/

/*
Used to enable products to use 100% of the page
*/
.right-sidebar .content-area {
	width: 100% !important;
}

/*
Used to enable home to use 100% of the page
*/
.right-sidebar-enabled .content-area {
	width: 100% !important;
}

/*
Adding padding to images page
 */
.woocommerce ul.products li.product a img {
	padding: 50px;
}

/*
Removing padding from banner row
 */
.vc_column_container>.vc_column-inner {
	padding: 0px;
}

/*
Removing trail items
 */
.trail-items {
	visibility: hidden;
}

/*
Removing top banner from website which will not be used for the child theme
 */
.store-mart-lite-top-header-wrap {
	visibility: hidden;
}

/*
changing footer menu to be indented next to each other
 */
.store-mart-lite-section-footer-wrap-main ul.menu li {
	float: left;
	padding-right: 20px;

}

/*
chainging text-color of bottom menu
 */
.store-mart-lite-section-footer-wrap-main ul li a {
	color: #DF3550;
}

/*
Changing text alignment for product page
 */
.sml-product-title-wrapp {
	text-align: center;
}

/*
Chainging cookie policy plugin text color to conform with website theme
 */
.cli_settings_button{
	color: #DF3550 !important;
}


